<!-- INCLUDE gallery/gallery_header.html -->
<!-- INCLUDEJS @phpbbgallery_core/js/viewer.js -->
<!-- INCLUDEJS @phpbbgallery_core/js/addviewer.js -->

<div id="sub-header">
	<div class="chunk">
		<div class="sub-header-title">
			<h2 class="forum-title">{L_RANDOM_IMAGES}</h2>
		</div>
		<div class="sub-header-buttons">
		</div>
	</div>
</div>

<div id="mbrs" class="background-main">
	<div class="chunk">
		<div class="content-main">
			<div data-wrapper>
				<!-- INCLUDE gallery/imageblock_polaroid.html -->
			</div>
		</div>
	</div>
</div>

<!-- INCLUDE gallery/gallery_footer.html -->
