<!-- INCLUDE ucp_header.html -->

<!-- IF S_PERSONAL_SETTINGS -->
<form id="ucp_gallery" method="post" action="{S_UCP_ACTION}">
	<h3>{L_TITLE}</h3>

	<p>{L_TITLE_EXPLAIN}</p>

	<fieldset>
		<dl class="form">
			<dt><span>{L_WATCH_OWN}{L_COLON}</span></dt>
			<dd>
				<label for="watch_own1"><input class="radio" type="radio" name="watch_own" id="watch_own1" value="1"<!-- IF S_WATCH_OWN --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_YES}</label> 
				<label for="watch_own0"><input class="radio" type="radio" name="watch_own" id="watch_own0" value="0"<!-- IF not S_WATCH_OWN --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_NO}</label>
			</dd>
		</dl>
		<dl class="form">
			<dt><span>{L_WATCH_COM}{L_COLON}</span></dt>
			<dd>
				<label for="watch_com1"><input class="radio" type="radio" name="watch_com" id="watch_com1" value="1"<!-- IF S_WATCH_COM --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_YES}</label> 
				<label for="watch_com0"><input class="radio" type="radio" name="watch_com" id="watch_com0" value="0"<!-- IF not S_WATCH_COM --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_NO}</label>
			</dd>
		</dl>
		<!-- EVENT gallery_ucp_settings_watch -->
		<!-- IF S_COMMENTS_ENABLED -->
		<dl class="form">
			<dt><span>{L_USER_ALLOW_COMMENTS}{L_COLON}</span></dt>
			<dd>
				<label for="allow_comments1"><input class="radio" type="radio" name="allow_comments" id="allow_comments1" value="1"<!-- IF S_ALLOW_COMMENTS --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_YES}</label> 
				<label for="allow_comments0"><input class="radio" type="radio" name="allow_comments" id="allow_comments0" value="0"<!-- IF not S_ALLOW_COMMENTS --> checked="checked"<!-- ENDIF --> /><span class="radio"></span>{L_NO}</label>
			</dd>
		</dl>
		<!-- ENDIF -->
		<!-- EVENT gallery_ucp_settings_fieldset -->
	</fieldset>

	<!-- EVENT gallery_ucp_settings_form -->
	<fieldset class="action-submit">
		<input class="button" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />
		<input class="button-flat" type="reset" id="reset" name="reset" value="{L_RESET}" />&nbsp;
		{S_FORM_TOKEN}
	</fieldset>
</form>
<!-- ENDIF -->

<!-- IF S_INFO_CREATE -->
<h3>{L_TITLE}</h3>

<p>{L_TITLE_EXPLAIN}</p>

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>
	<fieldset class="action-submit">
		{S_HIDDEN_FIELDS}
		<input type="submit" name="submit" value="{L_CREATE_PERSONAL_ALBUM}" class="button" />
		{S_FORM_TOKEN}
	</fieldset>
</form>
<!-- ENDIF -->

<!-- IF S_CREATE_SUBALBUM || S_EDIT_SUBALBUM -->
<form id="acp_gallery" method="post" action="{U_ACTION}">
	<h3>{L_TITLE}</h3>
	
	<p>{L_TITLE_EXPLAIN}</p>
	<fieldset>
	<!-- IF not S_PERSONAL_ALBUM -->
		<dl class="form">
			<dt><span>{L_ALBUM_PARENT}{L_COLON}</span></dt>
			<dd><select id="parent_id" name="parent_id">{S_PARENT_OPTIONS}</select></dd>
		</dl>
		<dl class="form">
			<dt><span>{L_ALBUM_NAME}{L_COLON}</span></dt>
			<dd><input class="input" type="text" id="album_name" name="album_name" value="{ALBUM_NAME}" maxlength="255" /></dd>
		</dl>
	<!-- ENDIF -->
	<!-- IF S_AUTH_ACCESS_OPTIONS -->
		<dl class="form">
			<dt><span>{L_ALBUM_ACCESS}{L_COLON}</span><p>{L_ALBUM_ACCESS_EXPLAIN}</p></dt>
			<dd><select id="album_auth_access" name="album_auth_access">{S_AUTH_ACCESS_OPTIONS}</select></dd>
		</dl>
	<!-- ENDIF -->
	<dl class="form">
		<dt><span>{L_ALBUM_DESC}{L_COLON}</span></dt>
		<dd><textarea class="input" id="album_desc" name="album_desc" rows="5" cols="45">{ALBUM_DESC}</textarea></dd>
	</dl>
	</fieldset>

	<fieldset class="fields">
		<div>
			<label for="desc_parse_bbcode"><input type="checkbox" class="check" name="desc_parse_bbcode"<!-- IF S_DESC_BBCODE_CHECKED --> checked="checked"<!-- ENDIF --> /><span class="check"></span><span>{L_PARSE_BBCODE}</span></label>
		</div>
		<div>
			<label for="desc_parse_smilies"><input type="checkbox" class="check" name="desc_parse_smilies"<!-- IF S_DESC_SMILIES_CHECKED --> checked="checked"<!-- ENDIF --> /><span class="check"></span><span>{L_PARSE_SMILIES}</span></label>
		</div>
		<div>
			<label for="desc_parse_urls"><input type="checkbox" class="check" name="desc_parse_urls"<!-- IF S_DESC_URLS_CHECKED --> checked="checked"<!-- ENDIF --> /><span class="check"></span><span>{L_PARSE_URLS}</span></label>
		</div>
	</fieldset>

	<fieldset class="action-submit">
		<input class="button" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />
		<input class="button-flat" type="reset" id="reset" name="reset" value="{L_RESET}" />
		{S_FORM_TOKEN}
	</fieldset>
</form>
<!-- ENDIF -->

<!-- IF S_MANAGE_SUBALBUMS -->
	<h2>{L_TITLE}</h2>

	<p><strong>{NAVIGATION}<!-- IF S_ALBUM --> [<a href="{U_EDIT}">{L_EDIT}</a> | <a href="{U_DELETE}">{L_DELETE}</a> | <a href="{U_GOTO}">{L_GOTO}</a> | <a href="{U_UPLOAD}">{L_UPLOAD_IMAGE}</a>]<!-- ENDIF --></strong></p>
	
	<p><!-- IF .album_row -->{L_ATTACHED_SUBALBUMS}<!-- ELSEIF U_CREATE_SUBALBUM -->{L_NO_SUBALBUMS}<!-- ENDIF --></p>

	<!-- IF .album_row -->
	<ol class="cp-list">
		<!-- BEGIN album_row -->
		<li>
			<div class="cp-list-description" style="margin-left: 0px">
				<div class="cp-list-description-inner">
					<h4><a href="{album_row.U_ALBUM}" class="forumtitle" >{album_row.ALBUM_NAME}</a></h4>
					<!-- IF album_row.ALBUM_DESCRIPTION --><p>{album_row.ALBUM_DESCRIPTION}</p><!-- ENDIF -->
				</div>
			</div>
			<div class="cp-list-radio" style="width: 150px">
				<dl class="cp-list-description-inner" style="background-repeat: no-repeat;">
					<dd class="mark" style="width: 120px;">
						<!-- IF album_row.S_FIRST_ROW && not album_row.S_LAST_ROW -->
							<i class="fa fa-angle-double-up" style="font-size:24px"></i>
							<a href="{album_row.U_MOVE_DOWN}"><i class="fa fa-angle-double-down" style="font-size:24px"></i></a>
						<!-- ELSEIF not album_row.S_FIRST_ROW && not album_row.S_LAST_ROW-->
							<a href="{album_row.U_MOVE_UP}"><i class="fa fa-angle-double-up" style="font-size:24px"></i></a>
							<a href="{album_row.U_MOVE_DOWN}"><i class="fa fa-angle-double-down" style="font-size:24px"></i></a>
						<!-- ELSEIF album_row.S_LAST_ROW && not album_row.S_FIRST_ROW -->
							<a href="{album_row.U_MOVE_UP}"><i class="fa fa-angle-double-up" style="font-size:24px"></i></a>
							<i class="fa fa-angle-double-down" style="font-size:24px"></i>
						<!-- ELSE -->
							<i class="fa fa-angle-double-up" style="font-size:24px"></i>
							<i class="fa fa-angle-double-down" style="font-size:24px"></i>
						<!-- ENDIF -->
						<a href="{album_row.U_EDIT}"><i class="fa fa-cog" aria-hidden="true" style="font-size:21px"></i></a>
						<a href="{album_row.U_DELETE}"><i class="fa fa-times" aria-hidden="true" style="font-size:24px"></i></a>
					</dd>
				</dl>
			</div>
		</li>
		<!-- END album_row -->
	</ol>
	<!-- ENDIF -->

	<!-- IF U_CREATE_SUBALBUM -->
		<form id="albums" method="post" action="{U_CREATE_SUBALBUM}">
			<fieldset class="class="action-submit"">
				<!--input type="hidden" name="action" value="add" /-->
				<input class="button" name="addforum" type="submit" value="{L_CREATE_SUBALBUM}" />
				{S_FORM_TOKEN}
			</fieldset>
		</form>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_MANAGE_SUBSCRIPTIONS -->
	<h2>{L_TITLE}</h2>

	<p>{L_TITLE_EXPLAIN}</p>

	<form id="ucp_gallery" method="post" action="{S_UCP_ACTION}">
		<!--Removed the album subscriptions since they only work for personal albums anyway and users can unsubscribe elsewhere.-->
		<!-- IF .image_row -->
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>{L_IMAGES}</th>
						<th>{L_LAST_COMMENT}</th>
						<th class="table-mark">{L_MARK}</th>
					</tr>
				</thead>
				<tbody>
					<!-- BEGIN image_row -->
						<tr>
							<td>
								<!-- IF image_row.UC_FAKE_THUMBNAIL --><span style="text-align: center; width: {FAKE_THUMB_SIZE}px; padding-right: 5px;">{image_row.UC_FAKE_THUMBNAIL}</span><!-- ENDIF -->
							</td>
							<td>
								<p>{image_row.UC_IMAGE_NAME}</p>
								<p>{L_UPLOADED_BY_USER} {image_row.UPLOADER}</p>
								<p>{L_ALBUM}{L_COLON} <a href="{image_row.U_VIEW_ALBUM}" style="font-weight: bold;">{image_row.ALBUM_NAME}</a></p>
							</td>
							<td>
								<!-- IF image_row.COMMENT -->
									<p>{L_POST_BY_AUTHOR} {image_row.LAST_COMMENT_BY}</p>
									<p>{image_row.LAST_COMMENT_TIME}</p>
								<!-- ELSE -->
									&nbsp;
								<!-- ENDIF -->
							</td>
							<td class="table-mark">
								<label for="image_id_ary[]"><input class="check" type="checkbox" name="image_id_ary[]" value="{image_row.IMAGE_ID}" id="{image_row.IMAGE_ID}"/><span class="check"></span></label>
							</td>
						</tr>
					<!-- END image_row -->
				</tbody>
			</table>
		<!-- ELSE -->
			<p class="notopics">{L_NO_SUBSCRIPTIONS}</p>
		<!-- ENDIF -->

		<fieldset class="action-submit">
			<div class="button-multiple">
				<a href="#" onclick="marklist('ucp_gallery', 'image_id_ary', true); return false;">{L_MARK_ALL}</a>
				<a href="#" onclick="marklist('ucp_gallery', 'image_id_ary', false); return false;">{L_UNMARK_ALL}</a>
			</div>
			<br /><br />
			<select name="action">
				<option value="" selected="selected">{L_CHOOSE_ACTION}</option>
				<option value="unsubscribe">{L_UNSUBSCRIBE}</option>
			</select>
			<button class="button" type="submit" value>{L_SUBMIT}</button>
		</fieldset>
	</form>
<!-- ENDIF -->

<!--
	I request you retain the full copyright notice below including the link to www.flying-bits.org.
	This not only gives respect to the large amount of time given freely by the developer
	but also helps build interest, traffic and use of phpBB Gallery. If you (honestly) cannot retain
	the full copyright I ask you at least leave in place the "Powered by phpBB Gallery" line, with
	"phpBB Gallery" linked to www.flying-bits.org. If you refuse to include even this then support on my
	forums may be affected.

	phpBB Gallery, nickvergessen : 2009
//-->
<div class="copyright">
	Powered by <a href="http://www.flying-bits.org/">phpBB Gallery</a> &copy; 2007, 2009 <a href="http://www.flying-bits.org/">nickvergessen</a>
	<!-- IF GALLERY_TRANSLATION_INFO --><br />{GALLERY_TRANSLATION_INFO}<!-- ENDIF -->
</div>
<!-- INCLUDE ucp_footer.html -->